--extra-index-url https://download.pytorch.org/whl/cu124
torch
torchvision
torchaudio
google.generativeai
argparse
python-dotenv
opencv-python
pytesseract
pillow
argparse
transformers
ultralytics
deepface
tf-keras
chromadb
pyzbar
requests